* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
}

.nav-top ul li {
    display: inline-block;
}

/* utility classes  */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
.container {
    width: 1100px;
    margin: 0 auto;
}

.button {
    background-color: rgb(0, 93, 255);
    display: inline-block;
    padding: 5px 10px;
    color: white;
    margin: 10px 0;
}
/* end utility  */

/* HEADER  */
header {
    background-color: rgb( 180, 208, 213);
    height: 730px;
    margin-bottom: 150px;
    position: relative;
}

/* nav-top HEADER  */
.nav-top {
    padding: 20px;
    background-color: white;
}

.fix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.logo {
    width: 11%;
}

.main, .main-2 {
    width: 41%;
    line-height: 31px;
}

.login {
    width: 7%;
}

.main-2, .login {
    text-align: right;
}

.main li, .main-2 li {
    padding: 0 10px;
}
.main li a, .main-2 li a {
    text-decoration: none;
    color: black;

}

.main li:hover, .main-2 li:hover {
    border-bottom: 2px solid black;
    padding-bottom: 50px;
    margin-bottom: 0;
}

.nav-top .login .button {
    font-size: 16px;
    margin: 0;
    padding: 5px 18px;
}

.button a {
    color: white;
    text-decoration: none;
}

.login .button:hover, .jumbo-text .button:hover, .detail-plan .button:hover {
    background-color: rgb(71, 138, 255);
}

.button a.second {
    text-decoration: none;
    color: black;
}

.text-container .button:hover, .abs .button:hover {
    background-color: whitesmoke;
}

/* jumbo text HEADER  */
.container h1 {
    font-size: 80px;
    padding: 100px 0 20px;
    font-family: 'Oswald', sans-serif;
}

header .container {
    position: relative;
    height: 550px;
}

.jumbo-text {
    width: 300px;
}

.jumbo-text > p {
    padding-bottom: 25px;
}

.jumbo-text div:nth-last-child(2) {
    font-size: 14px;
}

.jumbo-text .button {
    padding: 10px 20px;
}

.arrow {
    font-size: 3em;
}

/* jumbo img HEADER  */
.jumbo {
    position: absolute;
    bottom: -290px;
    right: -60px;
}

.jumbo img{
    width: 830px;
}
/* end jumbo, end HEADER  */

/* MAIN  */
main .container {
    width: 950px;
    padding: 50px 0;
}

main .container h2 {
    font-size: 50px;
    padding: 40px 0;
}

/* section 1 */
form label {
    padding: 15px 15px 20px 5px;
}

input {
    margin: 3px;
}

main .util {
    padding: 20px 0;
}

/* float in section 1  */
.plan-sub {
    width: calc(100% / 3);
}

.content-plan-1 {
    padding: 10px 36px 10px 0px;
}
.content-plan-2 {
    padding: 10px 18px;
}
.content-plan-3 {
    padding: 10px 0px 10px 36px;
}

.type-plan {
    text-align: center;
    border: 1px #ccc solid;
    border-bottom: none;
}

.type-plan div {
    padding: 10px 0;
}

.detail-plan {
    padding: 20px;
    font-size: 16px;
    border: 1px #ccc solid;
}

.detail-plan h4 {
    font-size: 30px;
    padding: 10px 0;
}

.cost-plan {
    font-weight: bold;
    font-size: 16px;
}

.cost-plan + p {
    color: #aaa;
    font-size: 16px;
    padding: 10px 0;
    height: 60px;
}

.detail-plan li {
    padding: 8px 0;
}

.list-first li {
    text-indent: -11px;
    padding-left: 20px;
}

/* icons in section 1 float elem  */
ul.second-list li:before, .list-first li::before, .six li::after {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
    font-weight: 900;    
}
.list-first li:first-child::before {
    content: "\f007";
}
.list-first li:nth-child(2)::before {
    content: "\f07b";
}
.content-plan-2 .detail-plan .list-first li:nth-child(3)::before, .content-plan-3 .detail-plan .list-first li:nth-child(3)::before {
    content: "\f7d9";
}
.content-plan-1 .detail-plan .list-first li:nth-child(3)::before {
    content: "\f303";
}

.detail-plan .list-first {
    padding: 10px 0;
    height: 230px;
}

.detail-plan .button {
    display: block;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
}

.detail-plan .button + p {
    padding: 15px 0;
}

p a {
    color: rgb(0, 93, 255);
    font-weight: bold;
}

.detail-plan hr {
    width: 20%;
    margin: 20px 0;
}

.detail-plan h5 {
    font-size: 17px;
    padding: 10px 0;
}

ul.second-list{
    height: 280px;
    text-indent: -10px;
    padding-left: 20px;
}
/* arrow icon  */
ul.second-list li:before {
    content: "\f00c";
    color: royalblue;
}
/* end float, in section 1 */

.other-plan .detail-plan h4 + p {
    font-weight: bold;
    padding: 10px 0;
    font-size: 18px;
}

.other-plan .detail-plan p + p {
    font-size: 14px;
    padding: 10px 0;
}

.other-plan .detail-plan {
    position: relative;
}

.other-plan .detail-plan .button {
    position: absolute;
    top: 20px;
    right: 30px;
    padding: 10px 40px;
}

/*  section-2 img with text */
.img-container {
    width: 60%;
}

.img-container  img {
    width: 500px;
}

.text-container {
    width: 40%;
    padding: 60px 30px;
}

.text-container h3 {
    font-size: 30px;
}

.text-container p {
    padding: 25px 0;
}

.text-container .button, .abs .button {
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 10px 20px;
}


/*  section 3 cards */
.main .container h2 {
    font-size: 50px;
}

.card {
    width: calc(100% / 3);
    height: 560px;
}

.card .img-card {
    text-align: center;
}

.img-card img {
    width: 270px;
}
 
.text-card h3 {
    font-size: 28px;
    padding: 20px 0;
}

.underl {
    text-decoration: underline;
}

/* section 4 */
main section .container h2 {
    line-height: 40px;
}

.big-box {
    width: calc(100% / 3);
    height: 32vw;
    background-color: #eee;
}

.small-box {
    width: 50%;
    height: 16vw;
    position: relative;
}

.red {
    background-color: #d02;
}
.yellow {
    background-color: #fe3;
}
.green {
    background-color: rgb(35, 211, 35);
}
.blue {
    background-color: #09d;
}

.box-content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

/* logo in img      logo in svg*/
.box-content img, .box-content svg {
    width: 10vw;
    filter: invert(1);
}

.small-box > svg {
    width: 15vw;
}

.big-box > .small-box {
    padding: 10px 40px;
}

.big-box p {
    font-size: 17px;
    padding: 0 30px;
}

.sign {
    padding: 40px 30px 0;
    font-size: 15px;
}

/* section 5  */
section.five {
    background-color: rgb( 180, 208, 213);
    height: 250px;
}

section.five .container h2 {
    color: #613;
}

section.five .container {
    position: relative
}

.abs {
    position: absolute;
    top:80px;
    right: 0;
}

.abs .button {
    border: none;
    padding: 10px 20px;
}

/* section 6 */
.six .container {
    padding: 100px 0;
}

.six .container h3 {
    font-size: 38px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 50px;
}

.third-list li {
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
    font-size: 19px;
}

.six li::after {
    float: right;
    content: "\f107";
    font-size: 1.5em;

}
/* footer  */
footer {
    background-color: black;
    color: white;
    padding: 100px 0;
    font-size: 14px;
}

footer ul {
    width: 20%;
}

footer li {
    padding: 10px 0;
}
footer li:first-child {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 17px;
}

.lang {
    border-top: 1px solid white;
    display: inline-block;
    padding-top: 30px;
    color: #777;
    font-weight: bold;
}

.fa-globe-americas {
    font-size: 1.5em;
    padding-right: 6px;
    color: white;
}
.fa-caret-up {
    padding: 0 7px;
}