* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.nav-top ul li {
    display: inline-block;
}

/* utility classes  */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fl {
    float: left;
}

.container {
    width: 1100px;
    margin: 0 auto;
}
/* end utility  */

/* HEADER  */
header {
    background-color: rgb( 180, 208, 213);
    height: 650px;
    margin-bottom: 50px;
}

/* nav-top HEADER  */
.nav-top {
    padding: 20px;
    background-color: white;
}

.logo {
    width: 11%;
}

.main, .main-2 {
    width: 41%;
    line-height: 31px;
}

.login {
    width: 7%;
}

.main-2, .login {
    text-align: right;
}

.main li, .main-2 li {
    padding: 0 10px;
}

.nav-top .login .button {
    font-size: 13px;
    margin: 0;
}

/* jumbo text HEADER  */
.container h1 {
    letter-spacing: -5px;
    font-size: 68px;
    padding: 20px 0;
}

header .container {
    position: relative;
    height: 550px;
}

.jumbo-text {
    width: 300px;
}

.button {
    background-color: rgb(0, 93, 255);
    display: inline-block;
    padding: 5px 10px;
    color: white;
    margin: 10px 0;
}

.jumbo-text div:nth-last-child(2) {
    font-size: 13px;
}

.arrow {
    font-size: 3em;
}

/* jumbo img HEADER  */
.jumbo {
    position: absolute;
    bottom: -130px;
    right: -50px;
}

.jumbo img{
    width: 750px;
}
/* end jumbo, end HEADER  */

/* MAIN  */
main .container {
    width: 950px;
    padding: 50px 0;
}

main .container h2 {
    font-size: 38px;
    padding: 40px 0;
}

form label {
    padding: 15px 15px 20px 5px;
}

input {
    margin: 3px;
}

main .util {
    padding: 20px 0;
}

/* float in MAIN  */
.plan-sub {
    width: calc(100% / 3);
}

.content-plan-1 {
    padding: 10px 36px 10px 0px;
}
.content-plan-2 {
    padding: 10px 18px;
}
.content-plan-3 {
    padding: 10px 0px 10px 36px;
}

.type-plan {
    text-align: center;
    border: 1px #ccc solid;
    border-bottom: none;
}

.type-plan div {
    padding: 10px 0;
}

.detail-plan {
    padding: 20px;
    font-size: 14px;
    border: 1px #ccc solid;
}

.detail-plan h4 {
    font-size: 25px;
    padding: 10px 0;
}

.cost-plan {
    font-weight: bold;
    font-size: 15px;

}

.cost-plan + p {
    color: #aaa;
    font-size: 13px;
    padding: 10px 0;
    height: 60px;
}

.detail-plan li {
    padding: 8px 0;
}

.list-first li {
    text-indent: -9px;
    padding-left: 20px;
}

/* icons in plan-float  */
ul.second-list li:before, .list-first li::before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
    font-weight: 900;    
}
.list-first li:first-child::before {
    content: "\f007";
}
.list-first li:nth-child(2)::before {
    content: "\f07b";
}
.content-plan-2 .detail-plan .list-first li:nth-child(3)::before, .content-plan-3 .detail-plan .list-first li:nth-child(3)::before {
    content: "\f7d9";
}
.content-plan-1 .detail-plan .list-first li:nth-child(3)::before {
    content: "\f303";
}

.detail-plan .list-first {
    padding: 10px 0;
    height: 230px;
}

.detail-plan .button {
    display: block;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
}

.detail-plan .button + p {
    padding: 15px 0;
}

p a {
    color: rgb(0, 93, 255);
    font-weight: bold;
}

.detail-plan hr {
    width: 20%;
    margin: 20px 0;
}

.detail-plan h5 {
    font-size: 17px;
    padding: 10px 0;
}

ul.second-list{
    height: 280px;
    text-indent: -9px;
    padding-left: 20px;
}
/* arrow icon  */
ul.second-list li:before {
    content: "\f00c";
    color: royalblue;
}
/* end float, in MAIN */

.other-plan .detail-plan h4 + p {
    font-weight: bold;
    padding: 10px 0;
    font-size: 16px;
}

.other-plan .detail-plan p + p {
    font-size: 12px;
    padding: 10px 0;
}

.other-plan .detail-plan {
    position: relative;
}

.other-plan .detail-plan .button {
    position: absolute;
    top: 20px;
    right: 30px;
    padding: 10px 40px;
}

/* img with text section-2 MAIN*/
.img-container {
    width: 60%;
}

.img-container  img {
    width: 500px;
}

.text-container {
    width: 40%;
    padding: 60px 30px;
}

.text-container h3 {
    font-size: 25px;
}

.text-container p {
    font-size: 15px;
    padding: 25px 0;
}

.text-container .button {
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 15px;
    padding: 5px 20px;
}

/* cards section 3 MAIN */
.main .container h2 {
    font-size: 38px;
}

.card {
    width: calc(100% / 3);
    height: 560px;
}

.card .img-card {
    height: 230px;
    background-position: center;
    background-size: cover;
}
 
.text-card h3 {
    font-size: 25px;
    padding: 20px 0;
}

#card-1 {
    background-image: url(../img/business-feature-switching-tools.png);
}

#card-2 {
    background-image: url(../img/business-feature-coordinate-it.png);
}

#card-3 {
    background-image: url(../img/business-feature-multi-device.png);
}

#card-4 {
    background-image: url(../img/business-feature-integrations-it.png);
}

#card-5 {
    background-image: url(../img/business-feature-send-files-it.png);
}

#card-6 {
    background-image: url(../img/business-feature-security.png);
}

.underl {
    text-decoration: underline;
}

/* section 4 in MAIN */
main section .container h2 {
    line-height: 35px;
}

.small-box {
    width: calc(100% / 6);
}

